body button {
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  background-color: #336d6a;
  color: #fff;
  margin: 2px;
}
body ul li {
  list-style: none;
  font-size: 20px;
}
body #numeric {
  width: 100px;
}
